/*var*/
:root{
  --primary: rgb(66,133,244);
  --danger: rgb(218,68,55);
  --warning: rgb(244,180,0);
  --plant: rgb(15,157,88);
  --dark: rgb(20,20,20);
  --light: rgb(240,240,240);
}
html{
  font-family: 12px;
}
body{
  padding: 0;
  margin: 0;
  font-family: Arial;
  color: #1f1f1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
  background-color: var(--plant);
  font-size: 3rem;
  color: white;
  padding: 20px;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px;
}
button{
  margin: 10px 0;
  border: 0;
  outline: 0;
  width: 300px;
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.5rem;
}
button:nth-child(even){
  background-color: var(--danger);
}
footer{
  background-color: var(--plant);
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  color: white;
}
.a,.b{
  display: flex;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--light);
  position: relative;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}
.a:before{
  content: 'advanced';
}
.b:before{
  content: 'starter';
}
.a::after,.b::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: 
  linear-gradient(
  to right,
  var(--danger) 20%,
  #5521cb 20%,
  #5521cb 40%,
  var(--plant) 40%,
  var(--plant) 60%,
  var(--warning) 60%,
  var(--warning) 80%,
  var(--primary) 80%
  );
  bottom: 0;
  left: 0;
}